html{
  font: 14px Courier New;
}

#mapid {
  position: relative;
  height: 560px;
  right: 9%;

}

#cleMove{
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 2000;
  top: 70%;
  bottom: 0%;
  right: 0%;
}

#boutonsCheckbox{
  position: absolute;
  display: inline-block;
  top: 3%;
  left: 38%;
  max-width: 32%;
  padding: 5px 20px;
  background-color: #F2EFE9;
  z-index: 1000;
  font-size: 1.3em;
  vertical-align: top;
  vertical-align: 10em;
  border: 1px solid #5C5C5C;
  border-radius: 5px;
}

#inventaire {
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  background-image:url(../../images/fond.jpg);
  color:white;
  font-weight:bold;
  z-index: 1000;
  width: 9%;
  text-align: center;
  padding-top: 10px;
}

#inventaireBis {
    position: absolute;
    top: 70%;
    bottom: 0%;
    right: 0%;
    background-image:url(../../images/poche.jpg);
    color:white;
    font-weight:bold;
    z-index: 1050;
    width: 9%;
    text-align: center;
    padding-top: 10px;
}

#consignes{
  position: absolute;
  display: inline-block;
  top: 3%;
  max-width: 32%;
  padding: 5px 20px;
  background-color: #F2EFE9;
  z-index: 1000;
  font-size: 1.3em;
  vertical-align: top;
  vertical-align: 10em;
  border: 1px solid #5C5C5C;
  border-radius: 5px;
}

#reponses{
  position: absolute;
  display: inline-block;
  top: 3%;
  left: 38%;
  max-width: 32%;
  padding: 5px 20px;
  background-color: #F2EFE9;
  z-index: 1000;
  font-size: 1.3em;
  vertical-align: top;
  vertical-align: 10em;
  border: 1px solid #5C5C5C;
  border-radius: 5px;
}

#vert {
  color: green;
  font-family: bold;
  font-size: 1.4em;
}

#rouge {
  color: red;
  font-family: bold;
  font-size: 1.4em;
}

#noir {
  color: black;
}

.button {
    font: bold 13px Open Sans;
    border-radius: 5px;
    background-image: #f5f5f5;
    padding: 4px;
    border: 1px solid #ccc;
    color: #555;
}
