html{
  font: 14px Courier New;
}

#alarm{
  visibility: hidden;
}

#explosion{
  visibility: hidden;
}

#tableau{
  border: 1px solid black;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-family: DejaVu Sans Mono, monospace  ;
  color: black;
  background-color: white;
  z-index: 1000;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: Chalkduster, fantasy;
  color: white;
  background-color: black;
}

h2 {
  text-align: center;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: Stencil Std, fantasy ;
  color: red;
}

h3 {
  text-align: center;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: Stencil Std, fantasy ;
  color: black;
}


image {
  width: 15px;
	height: auto;
  line-height: 50px;
}

#intro {
  font-family: Courier New, monospace; color : white;
  background-color:black;
}

#texteFinal {
  font-family: Courier New, monospace;
  color : black;
  text-align: center;
  margin-left:400px;
  font-weight : bold;
}

#formulairePseudo {
  color : black;
  text-align: center;
  margin-left:400px;
  font-weight : bold;
}

#button {
  display:block;
  background-color: black;
  width: 200px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: Chalkduster, fantasy;
  font-size: 20px;
}

#buttonPalmares {
  display:block;
  background-color: black;
  width: 200px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: Chalkduster, fantasy;
  font-size: 20px;
}

#buttonOver {
  display:block;
  background-color: black;
  width: 150px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: Chalkduster, fantasy;
  font-size: 20px;
}

#buttonSave {
  display:block;
  background-color: black;
  width: 150px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: Chalkduster, fantasy;
  font-size: 20px;
}

#finGame{
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: Jazz LET, fantasy;
}

#bravo {
background-color:white;
background-image:url(../../images/bravo.jpg);
background-size: cover;
background-repeat: no-repeat;
}

ul {
list-style:none;
}
